.practice-problem {

  .content {
    padding: 48px 60px;
  }

  .header {
    margin-top: 30px
  }
} 

.backButton {
      display: flex;
    align-items: center;
    color: #6D15DC;
    margin-bottom: 30px;
}

.header-style {
  color: #6D15DC;
  padding-bottom: 24px;
}

.info-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-box-header {
    margin-right: 20px;
    color: gray;
    font-size: 18px;
}

.bold {
  font-weight: bold
}

.sample_box {
  p {
    font-family: courier new

  }
  background: #e8e7e8;
  padding: 10px

}

.practice_navbar {
  margin-bottom: 20px;
}
